/* _content/project/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-f0jb2meirf] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container[b-f0jb2meirf] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

section[b-f0jb2meirf] {
  margin: 1.5rem 0;
  border: 2px solid #000000;
  padding: 1rem;
  position: relative;
  padding-top: 1.5rem;
}

section > .description[b-f0jb2meirf] {
  background-color: #ffffff;
  padding: 0 0.3rem;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  transform: translateY(-15px);
  font-style: italic;
}

section > h2[b-f0jb2meirf] {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

section > button[b-f0jb2meirf] {
  padding: 0.5rem;
  font-size: 1rem;
}
